# Компиляция Java
*.class
target/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Maven
.mvn/
mvnw
mvnw.cmd

# Логи
*.log

# Другие временные файлы
.DS_Store